@import "../../App.scss";

  a{
    text-decoration:none;
    display: inline-block;
  }
  
  .header-top-strip{
    background-color: $color2;
    // border-bottom: 1px solid black;
  }
  .form-control:focus{
      box-shadow: none;
      border-color:inherit;
  }
  
  .header-upper{
    background-color: $color2;
    width: 100%;
    border-bottom:1px solid rgb(250, 247, 247);
    justify-content: flex-end;
    .title{
      color: $color1;
      text-decoration: none;
    }
    .input-group-text{
      background-color: $color3;
      height: 38px;
    }  
    .header-upper-links img{
      width:35px;
      height: 35px;      
    }
    .cart{
      color:$color1;
      text-decoration: none;     

    }
    .logout{
      color:$color1;
      text-decoration: none;
    }
  }
.header-bottom{
  background-color: $color2;
  border-top: 1px solid rgb(177, 175, 175);    
}

  .header-bottom .menu-links a{
    color:$color1;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
    text-transform: uppercase;      
  .dropdown{
    background-color: white;
  .dropdown button{
    color:$color2;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    letter-spacing: 0.3;
    text-transform: uppercase;      
    // .dropdown button{
    //     &:focus{
    //     box-shadow: brown;
    // }
    // }

    .dropdown-menu{
      // background-color: $color2;
      width: 100%;
      transform: translate3d(0px 57px, 0px) !important;
      .dropdown-item{
        padding: 20px;
        margin-bottom: 3px;
        border-bottom: 1px solid $color2;
          &:hover{
            // background-color: transparent;
            color: $color1 !important;
          }
      }
    }
  }
  }  

// .home{
//   color: $color1;
//   text-decoration: none;
// }
// .store{
//   color: $color1;
//   text-decoration: none;
// }
// .contact{
//   color: $color1;
//   text-decoration: none;
// }
// .blog{
//   color: $color1;
//   text-decoration: none;
  }